<a href="https://colab.research.google.com/github/daniribeirof/UB_DS-ML_Capstone-project_Bicing-predictions/blob/main/01_DF_creations_Station%26Bicing_Kaggle_info.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **INFO from web:**

Veure l'estat de les estacions al dataset Estat de les estacions del nou Bicing de la ciutat de Barcelona
Observacions:
Degut a:
Incidències tècniques:
- L'històric del més de juny'19 no disposa de dades del dia 20 entre les 7:40h i les 14:00h.
- L'històric del mes de juliol'19 no disposa de dades des del dia 26 a les 13:30h fins el dia 29 a les 10:40h.
- L'històric del mes de novembre'19 pot no disposar d'algunes dades de les 22:00h del 26/11 fins a les 11:00h del dia 27/11.
- L'històric del mes d'agost'20 no disposa de dades des del dia 7 a les 2:25h fins el dia 10 a les 10:40h.
- L'històric del mes de novembre'20 no disposa de dades els següents dies/hores:
dia 04 de la 01:45 a les 11:05h
dia 20 de les 19:50h al dia 21 a les 10:50h
dia 27 de les 02:50h al 30 a les 09:50h

Altres:
- Amb motiu de les mesures del Covid-19 el servei de Bicing s'ha aturat temporalment i l'històric de març reflexa aquesta situació

**Data Dictionary**

- *last_updated*: Timestamp de les dades mostrades
- *ttl*: TTL de la resposta
- *data*: Array de dades d'informació
- *stations*: Array de dades de les estacions
- *station_id*: Identificador de l'estació
- *name*: Nom de l'estació
- *physical_configuration*: Tipus d'estació (MECHANICBIKESTATION=Estació de bicicletes mecàniques,
ELECTRICBIKESTATION=Estació de bicicletes mecàniques i elèctriques)
- *lat*: Latitut de l'estació
- *lon*: Longitut de l'estació
- *altitude*: Cota d'altitut de l'estació
- *address*: Adreça postal de l'estació
- *post_code*: Codi postal de l'estació
- *capacity*: Capacitat de l'estació

## Required libraries:

In [ ]:
import os
import json
import urllib
import pandas as pd
import numpy as np
from pandas import Timestamp, Series, date_range
from datetime import datetime
import lzma

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Install

In [ ]:
!apt-get install p7zip-full p7zip-rar

Reading package lists... Done
Building dependency tree
Reading state information... Done
p7zip-full is already the newest version (16.02+dfsg-7build1).
The following NEW packages will be installed:
  p7zip-rar
0 upgraded, 1 newly installed, 0 to remove and 16 not upgraded.
Need to get 44.8 kB of archives.
After this operation, 118 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu focal/multiverse amd64 p7zip-rar amd64 16.02-3build1 [44.8 kB]
Fetched 44.8 kB in 1s (79.6 kB/s)
Selecting previously unselected package p7zip-rar.
(Reading database ... 123069 files and directories currently installed.)
Preparing to unpack .../p7zip-rar_16.02-3build1_amd64.deb ...
Unpacking p7zip-rar (16.02-3build1) ...
Setting up p7zip-rar (16.02-3build1) ...

# **DF1: Stations info**
Unique data frame for all months and years

In [ ]:
#get recent stations info from website
df_json = pd.read_json('https://opendata-ajuntament.barcelona.cat/data/dataset/bd2462df-6e1e-4e37-8205-a4b8e7313b84/resource/e5adca8d-98bf-42c3-9b9c-364ef0a80494/download')

In [ ]:
#select dictionary
data_station_info = df_json['data']['stations']
df_station_info = pd.DataFrame.from_dict(data_station_info)

In [ ]:
df_station_info

,station_id,name,physical_configuration,lat,lon,altitude,address,post_code,capacity,is_charging_station,nearby_distance,_ride_code_support,rental_uris,cross_street
0,1,"GRAN VIA CORTS CATALANES, 760",ELECTRICBIKESTATION,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46,True,1000.0,True,None,NaN
1,2,"C/ ROGER DE FLOR, 126",ELECTRICBIKESTATION,41.395488,2.177198,17.0,"C/ ROGER DE FLOR, 126",08013,29,True,1000.0,True,None,NaN
2,3,"C/ NÀPOLS, 82",ELECTRICBIKESTATION,41.394156,2.181331,11.0,"C/ NÀPOLS, 82",08013,27,True,1000.0,True,None,NaN
3,4,"C/ RIBES, 13",ELECTRICBIKESTATION,41.393317,2.181248,8.0,"C/ RIBES, 13",08013,21,True,1000.0,True,None,NaN
4,5,"PG. LLUIS COMPANYS, 11 (ARC TRIOMF)",ELECTRICBIKESTATION,41.391103,2.180176,7.0,"PG. LLUIS COMPANYS, 11 (ARC TRIOMF)",08018,39,True,1000.0,True,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
504,515,"C/ SANT ADRIÀ, 43",ELECTRICBIKESTATION,41.435207,2.194800,19.0,"C/ SANT ADRIÀ, 43",08030,24,True,1000.0,True,None,NaN
505,516,"C/ SANT ADRIÀ, 88",ELECTRICBIKESTATION,41.435460,2.200157,15.0,"C/ SANT ADRIÀ, 88",08030,21,True,1000.0,True,None,NaN
506,517,"AV. RASOS DE PEGUERA, 10",ELECTRICBIKESTATION,41.462095,2.178959,44.0,"AV. RASOS DE PEGUERA, 10",08033,20,True,1000.0,True,None,NaN
507,518,"C/ LLOBREGÓS, 115",ELECTRICBIKESTATION,41.424689,2.157049,112.0,"C/ LLOBREGÓS, 115",08032,25,True,1000.0,True,None,NaN
508,519,"C/ PEDRELL, 52",ELECTRICBIKESTATION,41.424655,2.166289,110.0,"C/ PEDRELL, 52",08032,24,True,1000.0,True,None,NaN

In [ ]:
#check all columns
df_station_info.columns

Index(['station_id', 'name', 'physical_configuration', 'lat', 'lon',
       'altitude', 'address', 'post_code', 'capacity', 'is_charging_station',
       'nearby_distance', '_ride_code_support', 'rental_uris', 'cross_street'],
      dtype='object')

In [ ]:
#select columns of interest
station_columns = ['station_id', 'name', 'lat', 'lon', 'altitude', 'address', 'post_code', 'capacity']
df_station_reduced = df_station_info.filter(station_columns, axis= 1)

In [ ]:
df_station_reduced.head()

,station_id,name,lat,lon,altitude,address,post_code,capacity
0,1,"GRAN VIA CORTS CATALANES, 760",41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46
1,2,"C/ ROGER DE FLOR, 126",41.395488,2.177198,17.0,"C/ ROGER DE FLOR, 126",08013,29
2,3,"C/ NÀPOLS, 82",41.394156,2.181331,11.0,"C/ NÀPOLS, 82",08013,27
3,4,"C/ RIBES, 13",41.393317,2.181248,8.0,"C/ RIBES, 13",08013,21
4,5,"PG. LLUIS COMPANYS, 11 (ARC TRIOMF)",41.391103,2.180176,7.0,"PG. LLUIS COMPANYS, 11 (ARC TRIOMF)",08018,39

In [ ]:
#should we keep address or name columnm?
df_station_reduced['name'].equals(df_station_reduced['address'])

False

In [ ]:
#differencies are basically formatting
df_name_address = df_station_reduced.query('name != address')
df_name_address

,station_id,name,lat,lon,altitude,address,post_code,capacity
5,6,"PG. LLUIS COMPANYS, 18 (ARC TRIOMF)",41.391429,2.180569,10.0,"PG. LLUIS COMPANYS, 18 (ARC TRIOMF)",08018,39
35,37,"PL. ANTONIO LÓPEZ (CORREUS, VIA LAIETANA",41.381316,2.181903,4.0,"PL. ANTONIO LÓPEZ (CORREUS, VIA LAIETANA)",08002,24
75,79,PL. UNIVERSITAT,41.385503,2.163477,21.0,PL. UNIVERSITAT,08007,24
89,94,"GRAN VIA DE LES CORTS CATALANES,375",41.375791,2.149910,26.0,"GRAN VIA DE LES CORTS CATALANES, 375-385",08015,48
91,96,"GRAN VIA DE LES CORTS CATALANES, 368",41.374109,2.148199,24.0,"GRAN VIA DE LES CORTS CATALANES, 368",08010,21
96,101,"AV. DIAGONAL, 602",41.392878,2.143411,53.0,"AV. DIAGONAL, 602",08021,24
99,104,"C/ VALÈNCIA, 621",41.410801,2.187244,16.0,"C/ VALÈNCIA, 621",08026,26
107,112,"C/ FLORIDABLANCA, 49",41.377672,2.157233,13.0,"C/ FLORIDABLANCA, 49",08015,20
108,113,"RONDA DE SANT PAU , 51",41.377311,2.164674,11.0,"RONDA DE SANT PAU, 51",08015,34
111,116,"C/ DEL DR. AIGUADER, 72 / PG. SALVAT",41.383837,2.191476,5.0,"C/ DEL DR. AIGUADER, 72 / PG. SALVAT PAPASSEIT",08003,27
122,127,"C/ ARAGÓ, 659 / NAVAS DE TOLOSA",41.412068,2.190752,16.0,"C/ ARAGÓ, 659 /NAVAS DE TOLOSA",08026,27
125,130,"RAMBLA DE GUIPÚSCOA, 103 / CANTÀBRIA",41.420014,2.201670,8.0,"RAMBLA DE GUIPÚSCOA, 103 /CANTÀBRIA",08020,24
127,132,PL. VALENTÍ ALMIRALL,41.408480,2.192042,6.0,PL.VALENTÍ ALMIRALL,08018,27
128,133,"GRAN VIA DE LES CORTS CATALANES, 902",41.407501,2.193017,6.0,"GRAN VIA DE LES CORTS CATALANES, 902",08018,16
132,137,"GRAN VIA DE LES CORTS CATALANES , 1041",41.414580,2.200814,7.0,"GRAN VIA DE LES CORTS CATALANES, 1041",08020,25
133,138,"GRAN VIA DE LES CORTS CATALANES, 1118",41.416793,2.205834,7.0,"GRAN VIA DE LES CORTS CATALANES, 1118",08020,21
135,140,"C/ VILADOMAT, 122",41.380877,2.155994,19.0,"C/ VILADOMAT, 122",08015,27
220,229,"C/ DE LA SANTACREU, 2 (PL.DE LA VIRREIN",41.405097,2.156916,68.0,"C/ DE LA SANTACREU, 2 (PL.DE LA VIRREINA)",08024,28
255,264,"C/REPÚBLICA DOMINICANA,25(CENTRE COMERC",41.439929,2.197069,20.0,"C/REPÚBLICA DOMINICANA,25(CENTRE COMERCIAL)",08030,33
261,270,"CRTA. DE RIBES, 77 (TRINITAT VELLA)",41.448633,2.189837,35.0,"270 - CRTA. DE RIBES, 77 (TRINITAT VELLA)",08033,27
267,276,PLAÇA ALFONS X EL SAVI / RONDA DEL GUIN,41.412135,2.165222,88.0,PLAÇA ALFONS X EL SAVI / RONDA DEL GUINARDO,08024,27
334,343,CAMPANA DE LA MAQUINISTA (SAO PAULO I P,41.438961,2.199618,14.0,CAMPANA DE LA MAQUINISTA (SAO PAULO I PL. DE,08030,27
336,345,PL. TERESA DE CLARAMUNT/C/ DELS FERROCA,41.363107,2.139832,10.0,PL. TERESA DE CLARAMUNT/C/ DELS FERROCARILS,08038,32
339,348,JARDINS DE CAN FERRERO/PG.DE LA ZONA FR,41.357067,2.141563,7.0,JARDINS DE CAN FERRERO/PG.DE LA ZONA FRANCA,08038,31
343,352,"C/RADI,10/GRAN VIA DE LES CORTS CATALA",41.363279,2.134159,9.0,"C/RADI,10/GRAN VIA DE LES CORTS CATALANES",08038,28
388,397,AV. LITORAL (PG MARÍTIM DEL PORT OLÍMPI,41.388913,2.199311,6.0,AV. LITORAL (PG MARÍTIM DEL PORT OLÍMPIC),08005,27
389,398,PG. MARÍTIM DE LA BARCELONETA/ANDREA DÒ,41.380955,2.193464,4.0,PG. MARÍTIM DE LA BARCELONETA/ANDREA DÒRIA,08003,34
485,496,"C/ PROVENÇA, 445",41.404862,2.174799,33.0,"C/ PROVENÇA, 445",08025,18

In [ ]:
#we decided to keep the "address" column only
df_station_reduced = df_station_reduced.drop(columns=['name'])
df_station_reduced.head()

,station_id,lat,lon,altitude,address,post_code,capacity
0,1,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46
1,2,41.395488,2.177198,17.0,"C/ ROGER DE FLOR, 126",08013,29
2,3,41.394156,2.181331,11.0,"C/ NÀPOLS, 82",08013,27
3,4,41.393317,2.181248,8.0,"C/ RIBES, 13",08013,21
4,5,41.391103,2.180176,7.0,"PG. LLUIS COMPANYS, 11 (ARC TRIOMF)",08018,39

In [ ]:
df_station_reduced['station_id'].nunique()

509

In [ ]:
df_station_reduced.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 509 entries, 0 to 508
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   station_id  509 non-null    int64
 1   lat         509 non-null    float64
 2   lon         509 non-null    float64
 3   altitude    509 non-null    float64
 4   address     509 non-null    object
 5   post_code   509 non-null    object
 6   capacity    509 non-null    int64
dtypes: float64(3), int64(2), object(2)
memory usage: 28.0+ KB

In [ ]:
#post code 8001 should be replaced for 08001
df_station_reduced['post_code'].unique()

array(['08013', '08018', '08003', '08040', '08005', '08009', '08025',
       '08010', '08037', '08930', '08002', '08039', '08004', '08001',
       '08007', '08029', '08008', '08011', '08036', '08015', '08014',
       '08021', '08026', '08024', '08006', '08020', '08019', '08038',
       '08028', '08034', '08017', '08012', '08027', '08041', '08030',
       '08033', '08016', '08031', '08032', '08042', '08022', 8001,
       '08035', '08023'], dtype=object)

In [ ]:
print(df_station_reduced['post_code'].value_counts()['08001'])
print(df_station_reduced['post_code'].value_counts()[8001])

12
1

In [ ]:
#complete with left 0
df_station_reduced['post_code'] = df_station_reduced['post_code'].astype(str).str.zfill(5)

In [ ]:
df_station_reduced['post_code'].unique()

array(['08013', '08018', '08003', '08040', '08005', '08009', '08025',
       '08010', '08037', '08930', '08002', '08039', '08004', '08001',
       '08007', '08029', '08008', '08011', '08036', '08015', '08014',
       '08021', '08026', '08024', '08006', '08020', '08019', '08038',
       '08028', '08034', '08017', '08012', '08027', '08041', '08030',
       '08033', '08016', '08031', '08032', '08042', '08022', '08035',
       '08023'], dtype=object)

# **DF2: Bicing status info**
Join all data from web: 2019-2022

In [ ]:
i2m = list(zip(range(1,13), ['Gener','Febrer','Marc','Abril','Maig','Juny','Juliol','Agost','Setembre','Octubre','Novembre','Desembre']))
for year in [2022, 2021, 2020, 2019]:
    for month, month_name in i2m:
        os.system(f"wget 'https://opendata-ajuntament.barcelona.cat/resources/bcn/BicingBCN/{year}_{month:02d}_{month_name}_BicingNou_ESTACIONS.7z'")
        os.system(f"7z x '{year}_{month:02d}_{month_name}_BicingNou_ESTACIONS.7z'")
        os.system(f"rm '{year}_{month:02d}_{month_name}_BicingNou_ESTACIONS.7z'")

In [ ]:
#rename file, unique with Marc instead of Març
old_name = r"2020_03_Marc_BicingNou_ESTACIONS.csv"
new_name = r"2020_03_Març_BicingNou_ESTACIONS.csv"
os.rename(old_name, new_name)

In [ ]:
#rename more files of 2019, cause they save as STAT:
old_2019_03_name = r"2019_03_Març_BICING2_STAT.csv"
new_2019_03_name = r"2019_03_Març_BicingNou_ESTACIONS.csv"
os.rename(old_2019_03_name, new_2019_03_name)

old_2019_04_name = r"2019_04_Abril_BICING2_STAT.csv"
new_2019_04_name = r"2019_04_Abril_BicingNou_ESTACIONS.csv"
os.rename(old_2019_04_name, new_2019_04_name)

old_2019_05_name = r"2019_05_Maig_BICING2_STAT.csv"
new_2019_05_name = r"2019_05_Maig_BicingNou_ESTACIONS.csv"
os.rename(old_2019_05_name, new_2019_05_name)

old_2019_06_name = r"2019_06_Juny_NouBicing_ESTACIONS.csv"
new_2019_06_name = r"2019_06_Juny_BicingNou_ESTACIONS.csv"
os.rename(old_2019_06_name, new_2019_06_name)

## Functions

In [ ]:
def date_time_columns(df, month, year):
  """
  Function that transforms timestamp to Date/Time
  and creates new columns for Year, Month, Day, Day of Week, Hour
  """
  # creates new column with Date/Time, delete Timestamp column and rename
  df['last_reported_2'] = pd.to_datetime(df['last_reported'], unit='s')
  df = df.drop(['last_reported'], axis=1)
  df.rename(columns={"last_reported_2": "last_reported"}, inplace=True)

  #create new columns
  df['date'] = pd.DatetimeIndex(df['last_reported']).date
  df['year'] = pd.DatetimeIndex(df['last_reported']).year
  df['month'] = pd.DatetimeIndex(df['last_reported']).month
  df['day'] = pd.DatetimeIndex(df['last_reported']).day
  df['day_of_week'] = pd.DatetimeIndex(df['last_reported']).dayofweek
  df['hour'] = pd.DatetimeIndex(df['last_reported']).hour

  df = df[(df['year'] == year) & (df['month'] == month)]

  return df

In [ ]:
def dock_availability_normalized(df, columns_groupby):
  """
  Function that creates column for percentage of dock availability
  and group dates by available mean
  """
  # creates column 'perc_available'
  df['perc_available'] = (df['num_docks_available']/df['capacity'])
  df = df[(df['perc_available'] >= 0) & (df['perc_available'] <= 1)]

  #group by mean
  df_gb = df.groupby(columns_groupby, as_index=False)['perc_available'].mean()
  df_gb['perc_available'] = df_gb['perc_available'].round(2)
  return df_gb

In [ ]:
def check_month(df, month):
  """
  Function that checks if month data is accurate,
  reset index and sort values
  """
  df_clean = df[df.month == month]
  df_clean.reset_index(drop=True)

  #sort by hour
  df_clean.sort_values(by=['station_id', 'month', 'day', 'hour'], inplace=True)

  return df_clean

In [ ]:
def contexts_5h(df):
    """
    Function that creates contexts for every 5h
    """
    df_context = df.iloc[4::5, :].reset_index(drop=True)

    df_context['ctx-4'] = df['perc_available'].iloc[0::5].reset_index(drop=True)
    df_context['ctx-3'] = df['perc_available'].iloc[1::5].reset_index(drop=True)
    df_context['ctx-2'] = df['perc_available'].iloc[2::5].reset_index(drop=True)
    df_context['ctx-1'] = df['perc_available'].iloc[3::5].reset_index(drop=True)

    return df_context

In [ ]:
def df_month(df):
  """
  Function that removes NAN values
  """
  df = df.dropna()
  df = df.reset_index(drop=True)

  return df

In [ ]:
#disable warning
pd.options.mode.copy_on_write = True

## Preparing and creating complete data frame:
For each month and year from web with station information:

In [ ]:
#rewrite months cause it saves Març from web
i2m = list(zip(range(1,13), ['Gener','Febrer','Març','Abril','Maig','Juny','Juliol','Agost','Setembre','Octubre','Novembre','Desembre']))

#variables has the columns of interest **can be changed later**
variables = ['station_id','num_docks_available','status','last_reported']

#create a final DF to be used in the model
df_final = pd.DataFrame()

# Loop over all months and years
for year in [2022, 2021, 2020, 2019]:

    if year==2019:
      #remove cause 2019 has no data for months: 01 and 02
      i2m = i2m[2:]

    for month, month_name in i2m:

        print(f"{year}_{month:02d}_{month_name}_BicingNou_ESTACIONS.csv")

        print('Preparing data frame...')

        df_read_csv = pd.read_csv(f"{year}_{month:02d}_{month_name}_BicingNou_ESTACIONS.csv")

        #get reduced status data frame
        df_bicing_reduced = df_read_csv.filter(variables, axis=1)
        df_bicing_reduced = df_bicing_reduced[df_bicing_reduced.status == 'IN_SERVICE']

        #merge bicing DF with station info DF
        df_merged = pd.merge(df_bicing_reduced, df_station_reduced, on='station_id', how='inner')

        #date time transformation and new columns
        df_merged = date_time_columns(df_merged, month=month, year=year)

        #compute dock availabity and groups DF
        columns_to_keep = ['station_id', 'lat', 'lon', 'altitude', 'address', 'post_code', 'capacity', 'date', 'year',
                          'month', 'day', 'day_of_week', 'hour']
        df_grouped = dock_availability_normalized(df_merged, columns_groupby=columns_to_keep)

        #check if has only current month on data set and sort by hour
        df_clean = check_month(df_grouped, month)

        #create contexts
        df_contexts = contexts_5h(df_clean)

        #get df of current month
        df_sample = df_month(df_contexts)

        print('Data frame of ' + str(year) + ' in month ' + str(month) + ' was created')

        #append to final df and create complete DF
        df_final = pd.concat([df_final, df_sample])

        print('Data frame appended to final df')

        print('------------------------------------------------------------------------------------')

2022_01_Gener_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2022 in month 1 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2022_02_Febrer_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2022 in month 2 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2022_03_Març_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2022 in month 3 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2022_04_Abril_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2022 in month 4 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2022_05_Maig_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2022 in month 5 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2022_06_Juny_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2022 in month 6 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2022_07_Juliol_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2022 in month 7 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2022_08_Agost_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2022 in month 8 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2022_09_Setembre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2022 in month 9 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2022_10_Octubre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2022 in month 10 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2022_11_Novembre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2022 in month 11 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2022_12_Desembre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2022 in month 12 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2021_01_Gener_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2021 in month 1 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2021_02_Febrer_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2021 in month 2 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2021_03_Març_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2021 in month 3 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2021_04_Abril_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2021 in month 4 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2021_05_Maig_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2021 in month 5 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2021_06_Juny_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2021 in month 6 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2021_07_Juliol_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2021 in month 7 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2021_08_Agost_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2021 in month 8 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2021_09_Setembre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2021 in month 9 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2021_10_Octubre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2021 in month 10 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2021_11_Novembre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2021 in month 11 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2021_12_Desembre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2021 in month 12 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2020_01_Gener_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2020 in month 1 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2020_02_Febrer_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2020 in month 2 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2020_03_Març_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2020 in month 3 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2020_04_Abril_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2020 in month 4 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2020_05_Maig_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2020 in month 5 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2020_06_Juny_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2020 in month 6 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2020_07_Juliol_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2020 in month 7 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2020_08_Agost_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2020 in month 8 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2020_09_Setembre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2020 in month 9 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2020_10_Octubre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2020 in month 10 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2020_11_Novembre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2020 in month 11 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2020_12_Desembre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2020 in month 12 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2019_03_Març_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2019 in month 3 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2019_04_Abril_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2019 in month 4 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2019_05_Maig_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2019 in month 5 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2019_06_Juny_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2019 in month 6 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2019_07_Juliol_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2019 in month 7 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2019_08_Agost_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2019 in month 8 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2019_09_Setembre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2019 in month 9 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2019_10_Octubre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2019 in month 10 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2019_11_Novembre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2019 in month 11 was created
Data frame appended to final df
------------------------------------------------------------------------------------
2019_12_Desembre_BicingNou_ESTACIONS.csv
Preparing data frame...
Data frame of 2019 in month 12 was created
Data frame appended to final df
------------------------------------------------------------------------------------

In [ ]:
df_final.shape

(2967415, 18)

In [ ]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2967415 entries, 0 to 59177
Data columns (total 18 columns):
 #   Column          Dtype
---  ------          -----
 0   station_id      int64
 1   lat             float64
 2   lon             float64
 3   altitude        float64
 4   address         object
 5   post_code       object
 6   capacity        int64
 7   date            object
 8   year            float64
 9   month           float64
 10  day             float64
 11  day_of_week     float64
 12  hour            float64
 13  perc_available  float64
 14  ctx-4           float64
 15  ctx-3           float64
 16  ctx-2           float64
 17  ctx-1           float64
dtypes: float64(13), int64(2), object(3)
memory usage: 430.2+ MB

In [ ]:
#replace column name with name used in kaggle
df_final.rename(columns={"perc_available": "percentage_docks_available"}, inplace=True)

In [ ]:
df_final.head()

,station_id,lat,lon,altitude,address,post_code,capacity,date,year,month,day,day_of_week,hour,percentage_docks_available,ctx-4,ctx-3,ctx-2,ctx-1
0,1,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46,2022-01-01,2022.0,1.0,1.0,5.0,4.0,0.72,0.68,0.73,0.74,0.72
1,1,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46,2022-01-01,2022.0,1.0,1.0,5.0,9.0,0.58,0.67,0.63,0.62,0.61
2,1,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46,2022-01-01,2022.0,1.0,1.0,5.0,14.0,0.75,0.62,0.67,0.74,0.75
3,1,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46,2022-01-01,2022.0,1.0,1.0,5.0,19.0,0.65,0.76,0.72,0.69,0.68
4,1,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46,2022-01-02,2022.0,1.0,2.0,6.0,0.0,0.59,0.66,0.68,0.66,0.59

In [ ]:
#convert numbers in these columns to integers
cols_to_int = ['year', 'month', 'day', 'day_of_week', 'hour']
df_final[cols_to_int] = df_final[cols_to_int].astype(int)

In [ ]:
df_final.head()

,station_id,lat,lon,altitude,address,post_code,capacity,date,year,month,day,day_of_week,hour,percentage_docks_available,ctx-4,ctx-3,ctx-2,ctx-1
0,1,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46,2022-01-01,2022,1,1,5,4,0.72,0.68,0.73,0.74,0.72
1,1,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46,2022-01-01,2022,1,1,5,9,0.58,0.67,0.63,0.62,0.61
2,1,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46,2022-01-01,2022,1,1,5,14,0.75,0.62,0.67,0.74,0.75
3,1,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46,2022-01-01,2022,1,1,5,19,0.65,0.76,0.72,0.69,0.68
4,1,41.397978,2.180107,16.0,"GRAN VIA CORTS CATALANES, 760",08013,46,2022-01-02,2022,1,2,6,0,0.59,0.66,0.68,0.66,0.59

In [ ]:
df_final.describe()

,station_id,lat,lon,altitude,capacity,year,month,day,day_of_week,hour,percentage_docks_available,ctx-4,ctx-3,ctx-2,ctx-1
count,2.967415e+06,2.967415e+06,2.967415e+06,2.967415e+06,2.967415e+06,2.967415e+06,2.967415e+06,2.967415e+06,2.967415e+06,2.967415e+06,2.967415e+06,2.967415e+06,2.967415e+06,2.967415e+06,2.967415e+06
mean,2.503735e+02,4.139903e+01,2.168506e+00,3.384977e+01,2.698647e+01,2.020713e+03,6.912915e+00,1.573943e+01,2.997607e+00,1.149904e+01,5.769208e-01,5.769439e-01,5.768797e-01,5.768447e-01,5.768391e-01
std,1.447218e+02,2.053194e-02,2.451059e-02,3.106028e+01,6.438181e+00,1.069424e+00,3.353130e+00,8.793153e+00,1.999585e+00,6.909692e+00,2.858502e-01,2.858020e-01,2.858281e-01,2.858080e-01,2.857830e-01
min,1.000000e+00,4.134677e+01,2.109154e+00,2.000000e+00,1.200000e+01,2.019000e+03,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,1.260000e+02,4.138358e+01,2.149910e+00,8.000000e+00,2.400000e+01,2.020000e+03,4.000000e+00,8.000000e+00,1.000000e+00,6.000000e+00,3.600000e-01,3.600000e-01,3.600000e-01,3.600000e-01,3.600000e-01
50%,2.500000e+02,4.139540e+01,2.170939e+00,2.400000e+01,2.700000e+01,2.021000e+03,7.000000e+00,1.600000e+01,3.000000e+00,1.200000e+01,6.200000e-01,6.200000e-01,6.200000e-01,6.200000e-01,6.200000e-01
75%,3.700000e+02,4.141108e+01,2.187440e+00,4.800000e+01,3.000000e+01,2.022000e+03,1.000000e+01,2.300000e+01,5.000000e+00,1.700000e+01,8.200000e-01,8.200000e-01,8.200000e-01,8.200000e-01,8.200000e-01
max,5.190000e+02,4.146209e+01,2.220691e+00,1.660000e+02,5.400000e+01,2.022000e+03,1.200000e+01,3.100000e+01,6.000000e+00,2.300000e+01,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00

___
## Data from Kaggle:
To predict the test set and generate the submission file

In [ ]:
kaggle_set_csv = pd.read_csv('/content/drive/MyDrive/CapstoneProject_NathyDani/metadata_sample_submission.csv', encoding = 'unicode_escape', index_col=0)

In [ ]:
kaggle_set_csv.head()

       station_id  month  day  hour     ctx-4     ctx-3     ctx-2     ctx-1
index
0             394      3    7     8  0.753086  0.780864  0.799383  0.824074
1             337      3   23    12  0.463768  0.536232  0.532609  0.601449
2             368      3   31     1  0.787037  0.709877  0.611111  0.601852
3             327      3   23    15  0.753472  0.809028  0.819444  0.736111
4             328      3    4    20  0.861111  0.802469  0.814815  0.827160

In [ ]:
print(kaggle_set_csv['station_id'].nunique())
print(df_final['station_id'].nunique())
print(df_station_reduced['station_id'].nunique())

388
509
509

In [ ]:
# completing with stations info
kaggle_set = pd.merge(kaggle_set_csv, df_station_reduced, on='station_id', how='left')

In [ ]:
print(kaggle_set['station_id'].nunique())

388

In [ ]:
kaggle_set

,station_id,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,lat,lon,altitude,address,post_code,capacity
0,394,3,7,8,0.753086,0.780864,0.799383,0.824074,41.387306,2.163126,25.0,"C/ DIPUTACIÓ, 226",08007,26.0
1,337,3,23,12,0.463768,0.536232,0.532609,0.601449,41.398624,2.120494,117.0,"C/ CARME KARR, 12-14",08034,23.0
2,368,3,31,1,0.787037,0.709877,0.611111,0.601852,41.396839,2.175660,21.0,"C/ DIPUTACIÓ, 373",08013,27.0
3,327,3,23,15,0.753472,0.809028,0.819444,0.736111,41.405007,2.134603,114.0,"C/ REUS, 23",08022,24.0
4,328,3,4,20,0.861111,0.802469,0.814815,0.827160,41.402988,2.134469,106.0,"C/ ARTESA DE SEGRE, 2",08022,26.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54994,269,3,14,3,0.478261,0.478261,0.478261,0.478261,41.448152,2.192940,26.0,"VIA BARCINO, 121",08033,23.0
54995,280,3,1,5,0.098765,0.074074,0.074074,0.077160,41.413866,2.177727,49.0,"C/ SANT ANTONI Mª CLARET, 290-296",08041,27.0
54996,180,3,20,16,0.782680,0.821895,0.812092,0.777778,41.367557,2.138822,14.0,"GRAN VIA DE LES CORTS CATALANES, 179 (D)",08014,51.0
54997,277,3,14,11,0.774691,0.953704,0.972222,0.472222,41.408211,2.168996,60.0,"TRAVESSERA DE GRÀCIA, 328",08025,27.0
54998,425,3,30,16,0.291667,0.277778,0.204861,0.788194,41.376562,2.174862,5.0,"C/ DE CERVELLÓ, 5",08001,24.0

In [ ]:
# checking the months that we are going to predict
kaggle_set['month'].unique()

array([3])

In [ ]:
# adapting the dataframe from Kaggle to the model format:
year = 2023
kaggle_set['year'] = year #create 2023 column
kaggle_set['date'] = pd.to_datetime(kaggle_set[['year', 'month', 'day']]) #create date column
kaggle_set['day_of_week'] = pd.DatetimeIndex(kaggle_set['date']).dayofweek #extract day of week

In [ ]:
kaggle_set.head()

,station_id,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,lat,lon,altitude,address,post_code,capacity,year,date,day_of_week
0,394,3,7,8,0.753086,0.780864,0.799383,0.824074,41.387306,2.163126,25.0,"C/ DIPUTACIÓ, 226",08007,26.0,2023,2023-03-07,1
1,337,3,23,12,0.463768,0.536232,0.532609,0.601449,41.398624,2.120494,117.0,"C/ CARME KARR, 12-14",08034,23.0,2023,2023-03-23,3
2,368,3,31,1,0.787037,0.709877,0.611111,0.601852,41.396839,2.175660,21.0,"C/ DIPUTACIÓ, 373",08013,27.0,2023,2023-03-31,4
3,327,3,23,15,0.753472,0.809028,0.819444,0.736111,41.405007,2.134603,114.0,"C/ REUS, 23",08022,24.0,2023,2023-03-23,3
4,328,3,4,20,0.861111,0.802469,0.814815,0.827160,41.402988,2.134469,106.0,"C/ ARTESA DE SEGRE, 2",08022,26.0,2023,2023-03-04,5

### Weather data:
The notebook with weather data can be checked on file:

[05_Weather.ipynb](https://colab.research.google.com/drive/1y7tMZKz_pnfuIOPiiqTcbqdbHNBtGNey?usp=sharing)

In [ ]:
weather = pd.read_csv('/content/drive/My Drive/CapstoneProject_NathyDani/df_weather.csv')

In [ ]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    820 non-null    object
 1   temp    820 non-null    float64
 2   prec    820 non-null    float64
 3   wind    820 non-null    float64
dtypes: float64(3), object(1)
memory usage: 25.8+ KB

In [ ]:
weather['date'] = weather['date'].astype('datetime64[ns]')

In [ ]:
kaggle_set = pd.merge(kaggle_set, weather, on='date', how='left')

In [ ]:
kaggle_set

,station_id,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,lat,lon,altitude,address,post_code,capacity,year,date,day_of_week,temp,prec,wind
0,394,3,7,8,0.753086,0.780864,0.799383,0.824074,41.387306,2.163126,25.0,"C/ DIPUTACIÓ, 226",08007,26.0,2023,2023-03-07,1,11.4,0.0,6.4
1,337,3,23,12,0.463768,0.536232,0.532609,0.601449,41.398624,2.120494,117.0,"C/ CARME KARR, 12-14",08034,23.0,2023,2023-03-23,3,14.8,0.0,5.0
2,368,3,31,1,0.787037,0.709877,0.611111,0.601852,41.396839,2.175660,21.0,"C/ DIPUTACIÓ, 373",08013,27.0,2023,2023-03-31,4,19.0,0.0,5.8
3,327,3,23,15,0.753472,0.809028,0.819444,0.736111,41.405007,2.134603,114.0,"C/ REUS, 23",08022,24.0,2023,2023-03-23,3,14.8,0.0,5.0
4,328,3,4,20,0.861111,0.802469,0.814815,0.827160,41.402988,2.134469,106.0,"C/ ARTESA DE SEGRE, 2",08022,26.0,2023,2023-03-04,5,9.1,0.0,6.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54994,269,3,14,3,0.478261,0.478261,0.478261,0.478261,41.448152,2.192940,26.0,"VIA BARCINO, 121",08033,23.0,2023,2023-03-14,1,16.9,0.0,6.9
54995,280,3,1,5,0.098765,0.074074,0.074074,0.077160,41.413866,2.177727,49.0,"C/ SANT ANTONI Mª CLARET, 290-296",08041,27.0,2023,2023-03-01,2,6.1,0.0,5.3
54996,180,3,20,16,0.782680,0.821895,0.812092,0.777778,41.367557,2.138822,14.0,"GRAN VIA DE LES CORTS CATALANES, 179 (D)",08014,51.0,2023,2023-03-20,0,12.6,0.0,3.3
54997,277,3,14,11,0.774691,0.953704,0.972222,0.472222,41.408211,2.168996,60.0,"TRAVESSERA DE GRÀCIA, 328",08025,27.0,2023,2023-03-14,1,16.9,0.0,6.9
54998,425,3,30,16,0.291667,0.277778,0.204861,0.788194,41.376562,2.174862,5.0,"C/ DE CERVELLÓ, 5",08001,24.0,2023,2023-03-30,3,14.0,0.0,3.3

In [ ]:
#deleting unused columns
kaggle_set = kaggle_set.drop(columns=['date', 'address', 'post_code', 'capacity'])

In [ ]:
#we have some missing values in the lat, lon and altitude columns
#it means that some station is without data
kaggle_set.describe()

,station_id,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,lat,lon,altitude,year,day_of_week,temp,prec,wind
count,54999.000000,54999.0,54999.000000,54999.000000,54999.000000,54999.000000,54999.000000,54999.000000,54856.000000,54856.000000,54856.000000,54999.0,54999.000000,54999.000000,54999.000000,54999.000000
mean,216.161639,3.0,15.517009,11.533682,0.571921,0.571794,0.571857,0.571432,41.396759,2.169474,29.229820,2023.0,2.914871,13.687092,0.047244,5.344854
std,124.601964,0.0,8.867172,6.878081,0.269534,0.269224,0.269640,0.269843,0.018458,0.024412,26.428239,0.0,1.856078,3.331966,0.252807,2.123436
min,1.000000,3.0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,41.357067,2.111541,2.000000,2023.0,0.000000,6.100000,0.000000,3.100000
25%,110.000000,3.0,8.000000,6.000000,0.370370,0.370370,0.370370,0.370370,41.383365,2.151038,7.000000,2023.0,1.000000,12.500000,0.000000,3.600000
50%,217.000000,3.0,15.000000,12.000000,0.604167,0.604938,0.604938,0.604938,41.393535,2.173002,22.000000,2023.0,3.000000,13.800000,0.000000,5.000000
75%,322.000000,3.0,23.000000,17.000000,0.801282,0.800000,0.800000,0.800000,41.406529,2.187960,41.000000,2023.0,4.000000,15.200000,0.000000,6.400000
max,496.000000,3.0,31.000000,23.000000,1.000000,1.000000,1.000000,1.000000,41.450608,2.220691,121.000000,2023.0,6.000000,20.600000,1.400000,11.400000

In [ ]:
#check at which station we have missing data
kaggle_set[kaggle_set['altitude'].isna()]['station_id'].unique()

array([143])

In [ ]:
kaggle_set[kaggle_set['station_id'] == 143].head()

,station_id,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,lat,lon,altitude,year,day_of_week,temp,prec,wind
599,143,3,24,8,0.790123,0.783951,0.808642,0.777778,NaN,NaN,NaN,2023,4,16.7,0.0,5.6
924,143,3,13,22,0.317901,0.413580,0.484568,0.330247,NaN,NaN,NaN,2023,0,16.1,0.0,3.6
1060,143,3,21,10,0.462963,0.320988,0.296296,0.040123,NaN,NaN,NaN,2023,1,13.2,0.0,3.9
1785,143,3,20,4,0.601852,0.592593,0.592593,0.592593,NaN,NaN,NaN,2023,0,12.6,0.0,3.3
2064,143,3,17,1,0.756173,0.629630,0.592593,0.614198,NaN,NaN,NaN,2023,4,14.4,0.0,5.6

In [ ]:
# we will check the information for station 143 in the March data
df_station_march = pd.read_csv('/content/drive/My Drive/CapstoneProject_NathyDani/2023_03_Marc_BicingNou_INFORMACIO.csv')

In [ ]:
df_station_march[df_station_march['station_id'] == 143].head(1)

,station_id,name,physical_configuration,lat,lon,altitude,address,post_code,capacity,is_charging_station,nearby_distance,x_ride_code_support,cross_street,last_updated,ttl,rental_uris
136,143,"C/ SANCHO DE ÁVILA, 170 / LLACUNA",ELECTRICBIKESTATION,41.402791,2.195616,4,"C/ SANCHO DE ÁVILA, 170 / LLACUNA",8018,27,True,1000,True,NaN,1677625200,26,NaN

In [ ]:
# complete the station 143 information
kaggle_set.loc[kaggle_set['station_id']==143, ['lat']] = 41.402791
kaggle_set.loc[kaggle_set['station_id']==143, ['lon']] = 2.195616
kaggle_set.loc[kaggle_set['station_id']==143, ['altitude']] = 4

In [ ]:
#checking
kaggle_set[kaggle_set['station_id'] == 143].head()

,station_id,month,day,hour,ctx-4,ctx-3,ctx-2,ctx-1,lat,lon,altitude,year,day_of_week,temp,prec,wind
599,143,3,24,8,0.790123,0.783951,0.808642,0.777778,41.402791,2.195616,4.0,2023,4,16.7,0.0,5.6
924,143,3,13,22,0.317901,0.413580,0.484568,0.330247,41.402791,2.195616,4.0,2023,0,16.1,0.0,3.6
1060,143,3,21,10,0.462963,0.320988,0.296296,0.040123,41.402791,2.195616,4.0,2023,1,13.2,0.0,3.9
1785,143,3,20,4,0.601852,0.592593,0.592593,0.592593,41.402791,2.195616,4.0,2023,0,12.6,0.0,3.3
2064,143,3,17,1,0.756173,0.629630,0.592593,0.614198,41.402791,2.195616,4.0,2023,4,14.4,0.0,5.6

In [ ]:
#no more missing data
kaggle_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 54999 entries, 0 to 54998
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   station_id   54999 non-null  int64
 1   month        54999 non-null  int64
 2   day          54999 non-null  int64
 3   hour         54999 non-null  int64
 4   ctx-4        54999 non-null  float64
 5   ctx-3        54999 non-null  float64
 6   ctx-2        54999 non-null  float64
 7   ctx-1        54999 non-null  float64
 8   lat          54999 non-null  float64
 9   lon          54999 non-null  float64
 10  altitude     54999 non-null  float64
 11  year         54999 non-null  int64
 12  day_of_week  54999 non-null  int64
 13  temp         54999 non-null  float64
 14  prec         54999 non-null  float64
 15  wind         54999 non-null  float64
dtypes: float64(10), int64(6)
memory usage: 7.1 MB

##Save data frames to be accessed outside this notebook

In [ ]:
#saving df_final.csv
path = '/content/drive/My Drive/CapstoneProject_NathyDani/df_final.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_final.to_csv(f, index=False)

In [ ]:
#saving df_stations.csv
path = '/content/drive/My Drive/CapstoneProject_NathyDani/df_stations.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_station_reduced.to_csv(f, index=False)

In [ ]:
#saving kaggle_set.csv
path = '/content/drive/My Drive/CapstoneProject_NathyDani/kaggle_set.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  kaggle_set.to_csv(f, index=False)