<a href="https://colab.research.google.com/github/daniribeirof/UB_DS-ML_Capstone-project_Bicing-predictions/blob/main/05_Weather.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Required libraries:

In [ ]:
import os
import pandas as pd
import numpy as np

import datetime

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Load processed Data Frame of Bicing: 2019-2022**
All data processement can be check on file:

[01_DF_creation_Station&Bicing_info](https://colab.research.google.com/drive/1L4QHje5e7tBrphzDqBJ0FZrVmALJmC0g?usp=sharing)

In [ ]:
df = pd.read_csv('/content/drive/My Drive/CapstoneProject_NathyDani/df_final.csv')

In [ ]:
df.shape

(2952330, 18)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2952330 entries, 0 to 2952329
Data columns (total 18 columns):
 #   Column                      Dtype
---  ------                      -----
 0   station_id                  int64
 1   lat                         float64
 2   lon                         float64
 3   altitude                    float64
 4   address                     object
 5   post_code                   int64
 6   capacity                    int64
 7   date                        object
 8   year                        int64
 9   month                       int64
 10  day                         int64
 11  day_of_week                 int64
 12  hour                        int64
 13  percentage_docks_available  float64
 14  ctx-4                       float64
 15  ctx-3                       float64
 16  ctx-2                       float64
 17  ctx-1                       float64
dtypes: float64(8), int64(8), object(2)
memory usage: 405.4+ MB

## Weather:

In [ ]:
csv_weather = pd.read_csv('/content/drive/My Drive/CapstoneProject_NathyDani/api_weather_opendata.csv', sep=';')
csv_weather

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,sol,presMax,horaPresMax,presMin,horaPresMin
0,2021-01-01,76,BARCELONA AEROPUERTO,BARCELONA,4,6.9,10.1,5.3,04:15,8.5,15:10,36.0,2.8,8.3,08:30,0.2,1006.1,0,1003.2,13
1,2021-01-02,76,BARCELONA AEROPUERTO,BARCELONA,4,6.2,0,2.7,04:51,9.7,13:52,32.0,4.2,14.4,08:50,3.8,1008.1,Varias,1004.6,6
2,2021-01-03,76,BARCELONA AEROPUERTO,BARCELONA,4,5.6,0,1.4,23:30,9.7,14:55,99.0,3.6,7.8,Varias,3.8,1010.9,Varias,1007.9,0
3,2021-01-04,76,BARCELONA AEROPUERTO,BARCELONA,4,5.9,0,0.5,03:20,11.3,14:01,30.0,3.6,10.3,15:01,4.5,1010.3,0,1006.6,14
4,2021-01-05,76,BARCELONA AEROPUERTO,BARCELONA,4,5.4,0,0.6,05:05,10.1,12:32,1.0,3.1,8.9,09:45,4.4,1011.8,Varias,1008.6,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,2023-03-27,76,BARCELONA AEROPUERTO,BARCELONA,4,15.0,0,11.8,05:42,18.3,09:26,31.0,3.9,14.4,01:20,11.6,1024.1,Varias,1015.4,2
816,2023-03-28,76,BARCELONA AEROPUERTO,BARCELONA,4,14.6,0,12.5,04:32,16.7,14:01,24.0,4.7,9.7,16:48,8.1,1026.3,Varias,1023.5,3
817,2023-03-29,76,BARCELONA AEROPUERTO,BARCELONA,4,14.7,0,11.4,05:37,18.0,12:46,24.0,8.3,15.3,09:29,11.3,1025.2,0,1021.3,18
818,2023-03-30,76,BARCELONA AEROPUERTO,BARCELONA,4,14.0,0,10.8,04:06,17.3,12:16,99.0,3.3,10.3,Varias,7.0,1021.8,0,1017.2,24
819,2023-03-31,76,BARCELONA AEROPUERTO,BARCELONA,4,19.0,0,12.0,02:19,26.0,10:21,99.0,5.8,11.7,Varias,5.7,1017.2,0,1012.9,15

In [ ]:
df_weather = csv_weather.loc[:, 'fecha':'velmedia']
df_weather.head()

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia
0,2021-01-01,76,BARCELONA AEROPUERTO,BARCELONA,4,6.9,10.1,5.3,04:15,8.5,15:10,36.0,2.8
1,2021-01-02,76,BARCELONA AEROPUERTO,BARCELONA,4,6.2,0,2.7,04:51,9.7,13:52,32.0,4.2
2,2021-01-03,76,BARCELONA AEROPUERTO,BARCELONA,4,5.6,0,1.4,23:30,9.7,14:55,99.0,3.6
3,2021-01-04,76,BARCELONA AEROPUERTO,BARCELONA,4,5.9,0,0.5,03:20,11.3,14:01,30.0,3.6
4,2021-01-05,76,BARCELONA AEROPUERTO,BARCELONA,4,5.4,0,0.6,05:05,10.1,12:32,1.0,3.1

In [ ]:
df_weather = df_weather.drop(columns=['provincia', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir'])
df_weather.head()

        fecha  indicativo                nombre  altitud  tmed  prec  velmedia
0  2021-01-01          76  BARCELONA AEROPUERTO        4   6.9  10.1       2.8
1  2021-01-02          76  BARCELONA AEROPUERTO        4   6.2     0       4.2
2  2021-01-03          76  BARCELONA AEROPUERTO        4   5.6     0       3.6
3  2021-01-04          76  BARCELONA AEROPUERTO        4   5.9     0       3.6
4  2021-01-05          76  BARCELONA AEROPUERTO        4   5.4     0       3.1

In [ ]:
df_weather = df_weather.rename(columns={'fecha': 'date', 'nombre': 'name', 'tmed': 'temp', 'velmedia': 'wind'})
df_weather.head()

         date  indicativo                  name  altitud  temp  prec  wind
0  2021-01-01          76  BARCELONA AEROPUERTO        4   6.9  10.1   2.8
1  2021-01-02          76  BARCELONA AEROPUERTO        4   6.2     0   4.2
2  2021-01-03          76  BARCELONA AEROPUERTO        4   5.6     0   3.6
3  2021-01-04          76  BARCELONA AEROPUERTO        4   5.9     0   3.6
4  2021-01-05          76  BARCELONA AEROPUERTO        4   5.4     0   3.1

In [ ]:
print(df_weather['indicativo'].unique())
print(df_weather['name'].unique())
print(df_weather['altitud'].unique())

[76]
['BARCELONA AEROPUERTO']
[4]

In [ ]:
df_weather = df_weather.drop(columns=['indicativo', 'name', 'altitud'])
df_weather.head()

         date  temp  prec  wind
0  2021-01-01   6.9  10.1   2.8
1  2021-01-02   6.2     0   4.2
2  2021-01-03   5.6     0   3.6
3  2021-01-04   5.9     0   3.6
4  2021-01-05   5.4     0   3.1

In [ ]:
df_weather.isnull().sum()

date     0
temp    16
prec     2
wind     9
dtype: int64

In [ ]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    820 non-null    object
 1   temp    804 non-null    float64
 2   prec    818 non-null    object
 3   wind    811 non-null    float64
dtypes: float64(2), object(2)
memory usage: 25.8+ KB

In [ ]:
df_weather['prec'] = df_weather['prec'].astype(float)

ValueError: ignored

In [ ]:
df_weather['prec'].unique()

array(['10.1', '0', '0.7', '5.7', '14.4', '7.4', '0.4', '0.5', '4.5',
       'Ip', '0.3', '1', '0.1', nan, '1.1', '9.1', '8.3', '1.3', '5.6',
       '1.5', '2', '22.2', '4.1', '5.1', '1.7', '0.6', '0.2', '2.4',
       '2.1', '6.3', '1.6', '7', '5.4', '2.8', '0.9', '11.8', '20.7',
       '0.8', '19.4', '1.4', '10.3', '10', '4.3', '7.3', '33.9', '50.6',
       '13.9', '4.4', '12.2', '4.7', '19.7', '9.3', '3.7', '2.3', '5.3',
       '6.8', '12.7', '1.8', '24.2', '3.8', '13.5', '2.7', '45.9', '3.4',
       '11.6', '13.7', '35.2', '23', '3.3', '2.2', '13.8', '1.9', '11.4',
       '23.3'], dtype=object)

In [ ]:
df_weather['prec'] = df_weather['prec'].replace('Ip', '')
df_weather = df_weather.replace(r'^\s*$', np.nan, regex=True)

In [ ]:
df_weather['prec'] = df_weather['prec'].astype(float)

In [ ]:
df_weather[df_weather.isna().any(axis=1)]

           date  temp  prec  wind
29   2021-01-30  14.6   NaN   4.2
42   2021-02-12  13.0   NaN   3.3
82   2021-03-24   NaN   0.0   NaN
83   2021-03-25   NaN   0.0   NaN
186  2021-07-06   NaN   0.0   4.7
211  2021-07-31   NaN   NaN   3.1
212  2021-08-01   NaN   0.0   NaN
215  2021-08-04  25.0   NaN   6.1
220  2021-08-09  24.0   NaN   3.3
242  2021-08-31  23.8   NaN   5.8
263  2021-09-21  19.8   NaN   2.8
302  2021-10-30   NaN   1.6   NaN
318  2021-11-15  12.8   NaN   2.8
328  2021-11-25   9.8   NaN   3.6
440  2022-03-17  15.3   NaN   9.7
442  2022-03-19  12.0   NaN   9.2
445  2022-03-22  12.7   NaN   8.3
460  2022-04-06   NaN   0.0   5.6
461  2022-04-07   NaN   0.0   NaN
462  2022-04-08   NaN   0.0   NaN
474  2022-04-20   NaN   6.8  11.9
475  2022-04-21   NaN  12.7   1.9
481  2022-04-27   NaN   0.0   2.5
482  2022-04-28   NaN   0.0   NaN
484  2022-04-30  18.0   NaN   3.6
487  2022-05-03   NaN   0.2   6.1
488  2022-05-04   NaN   0.0   NaN
489  2022-05-05   NaN   1.8   NaN
542  2022-06-27  25.6   NaN   3.9
605  2022-08-29  26.8   NaN   4.4
646  2022-10-09  20.2   NaN   2.5
671  2022-11-03  19.9   NaN   6.1
692  2022-11-24  15.4   NaN   3.9
709  2022-12-11   7.5   NaN   3.3

In [ ]:
df_weather = df_weather.interpolate(method='linear', limit_direction='forward', axis=0)

In [ ]:
df_weather[df_weather.isna().any(axis=1)]

Empty DataFrame
Columns: [date, temp, prec, wind]
Index: []

In [ ]:
df_weather.isnull().sum()

date    0
temp    0
prec    0
wind    0
dtype: int64

In [ ]:
df_weather.describe()

             temp        prec        wind
count  820.000000  820.000000  820.000000
mean    17.194207    0.933537    4.507439
std      6.371471    4.061025    1.605356
min      4.300000    0.000000    0.800000
25%     12.000000    0.000000    3.300000
50%     16.200000    0.000000    4.200000
75%     23.200000    0.000000    5.300000
max     30.200000   50.600000   13.100000

In [ ]:
df_weather['date'] = df_weather['date'].astype('datetime64[ns]')

In [ ]:
df_weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 820 entries, 0 to 819
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    820 non-null    datetime64[ns]
 1   temp    820 non-null    float64
 2   prec    820 non-null    float64
 3   wind    820 non-null    float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 25.8 KB

In [ ]:
#saving df_weather.csv
path = '/content/drive/My Drive/CapstoneProject_NathyDani/df_weather.csv'
with open(path, 'w', encoding = 'utf-8-sig') as f:
  df_weather.to_csv(f, index=False)